input[type='checkbox'] {
  visibility: hidden;
}

.jumbotron {
  margin-bottom: 0;
}

.input-group .input-group-text {
  display: block;
  cursor: pointer;
}

.input-group label {
  margin-bottom: 0;
}
.input-group-text{
  background-color: #fff;
}

.input-group-prepend .btn::after,
.list-group .input-group-prepend::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 5;
  width: 17px;
  height: 10px;
  transform: rotate(-45deg);
  top: 11px;
  left: 11px;
  transition: 0.1s;
  cursor: pointer;
}

.input-group-prepend .btn::after {
  border-left: solid 2px #fff;
  border-bottom: solid 2px #fff;
}
.list-group-item .input-group-prepend::after{
  border-left: solid 2px green;
  border-bottom: solid 2px green;
}

.input-group-prepend .active.btn::after,
.list-group-item-success .input-group-prepend::after {
  opacity: 1;
}

.input-group-prepend .btn::after,
.list-group-item-light .input-group-prepend::after {
  opacity: 0;
}


@media (max-width: 576px) {
  .footer {
    position: relative;
    display: block !important;
  }
  .footer .badge {
    float: left;
    padding: 13px !important;
  }
  .footer .btn {
    float: right;
  }
  .footer .btn-group {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
  }
  .jumbotron {
    padding-bottom: 100px;
  }
}